.margin-right{
    margin-left: 13%;
}
.nav-link {
    border-bottom: grey;
}
.ecart {
    margin-top: 50px;
}
.ecart1 {
    margin-bottom: 36px;
}
.ecart3 {
    margin-top: 128px;
}

.ecart4 {
    margin-top: 20px;
}

.color1 {
    color: grey;
}

.collapse-info {
    right: 0;
    position: absolute;
    z-index: 11111111;
    text-align: right;
    height: 100vh;
}

.collapse-info .collapse, .collapse-info .collapsing {
    width: 300px;
    right: 0;
    position: absolute;
    height: 70vh;
}

.collapse-info .card-body {
    height: 70vh;
}

.taille-img-mec {
    width: 34px;
}
.taille-logo {
    width: 100px;
}
.btn-success {
    background-color: #9EC135;
    border-color: #9EC135;
}
.nav-center {
    margin-left: auto;
    margin-right: auto;
}
.nav-color-size{
    border-color: grey;
    height: 50px;
}
.espace-1 {
    margin-right: 20px;
}
.espace-2 {
    margin-right: 30px;
}
.espace-3 {
    margin-right: 20px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.nav .form-inline .form-control {
    width: 60% !important;
}
.form-control-nav {
    background: unset !important;
    border: unset !important;
}

.form-control-nav:before {
    content: 'f002';
}

footer {
    background-color: #ecf0f1;
    padding: 2em;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer a {
    color: #bdc3c7 !important;
}

footer .p-text {
    color: #bdc3c7 !important;
}

footer h3 {
    color: #7f8c8d !important;
    font-size: 1.2em;
}
.border-right{
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 1);
}

/**
 * Arrow
 */
.arrow_box {
    display: inline-block;
    position: relative;
    color: white;
    background: #9EC135 !important;
    border: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 35px;
}
.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #9EC135;
    border-width: 20px;
    margin-top: -20px;
}
.arrow_box:before {
    position: absolute;
    left: 0;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: white;
    border-width: 20px;
    margin-top: -20px;
}

/**
 * Arrow => Hover
 */
.arrow_box {
    color: white !important;
}

/**
 * Arrow => Active state
 */
.arrow_box.active {
    background-color: #7E9A2A !important;
    color: whitesmoke !important;
}
.arrow_box.active:after {
    border-left-color: #7E9A2A;
}


/**
 * Nav
 */
.nav.nav-tabs {
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 0 1rem;
}





/**
*CSS login
 */

.lala {
    background-repeat: no-repeat;
    background-image: url("../img/checklist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login_box{
    background:white;
    border:3px solid #F4F4F4;
    padding-left: 15px;
    margin-bottom:25px;
}
.input_title{
    color:rgba(164, 164, 164, 0.9);
    padding-left:3px;
    margin-bottom: 2px;
}

hr{
    width:100%;
}

.welcome{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#FFFFFF;
    margin-bottom:25px;
    margin-top:50px;

}

.login_title{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:rgba(164, 164, 164, 0.44);
}

.card-container.card {
    max-width: 421px;

}

.btn1 {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    border-radius:0;
    background:#9EC135;
    height: 55px;
    margin-bottom:10px;
    border-color: #9EC135;
}

/*
 * Card component
 */
.card {
    background-color: #FFFFFF;
    /* just in case there no content*/
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



/*
 * Form styles
 */


.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.lebutton {
    width: 100%;
    display: block;
    border-radius: 30px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.btn-dulogin:hover {
    color: #fff;
    background-color: #9EC135;
    border-color: #9EC135;
}





.taille-logo-1 {
    margin-left: 29%;
    height: 105px;
    width: 166px;
}
.margin-top-1 {
    padding-top: 10%;
}
a {
    color: grey;

}