.nav-link {
    color: white;
}
.ecart {
    margin-top: 50px;
}
.ecart1 {
    margin-bottom: 36px;
}
.ecart3 {
    margin-top: 121px;
}

.color1 {
    color: white;
}

.collapse-info {
    top: 110px !important;
    right: 0;
    position: absolute;
    z-index: 11111111;
    text-align: right;
    height: 100vh;
}

.collapse-info .collapse, .collapse-info .collapsing {
    width: 300px;
    right: 0;
    position: absolute;
    height: 70vh;
}

.collapse-info .card-body {
    height: 70vh;
}