.nav-link {
    border-bottom: grey;
}
.ecart {
    margin-top: 50px;
}
.ecart1 {
    margin-bottom: 36px;
}
.ecart3 {
    margin-top: 121px;
}

.color1 {
    color: grey;
}

.collapse-info {
    top: 110px !important;
    right: 0;
    position: absolute;
    z-index: 11111111;
    text-align: right;
    height: 100vh;
}

.collapse-info .collapse, .collapse-info .collapsing {
    width: 300px;
    right: 0;
    position: absolute;
    height: 70vh;
}

.collapse-info .card-body {
    height: 70vh;
}

.taille-img-mec {
    width: 34px;
}
.taille-logo {
    width: 100px;
}
.btn-success {
    background-color: #9EC135;
    border-color: #9EC135;
}
.nav-center {
    margin-left: auto;
    margin-right: auto;
}
.nav-color-size{
    border-color: grey;
    height: 50px;
}
.espace-1 {
    margin-right: 20px;
}
.espace-2 {
    margin-right: 30px;
}
.espace-3 {
    margin-right: 20px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.nav .form-inline .form-control {
    width: 60% !important;
}
.form-control-nav {
    background: unset !important;
    border: unset !important;
}

.form-control-nav:before {
    content: 'f002';
}

footer {
    background-color: #ecf0f1;
    padding: 2em;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer a {
    color: #bdc3c7 !important;
}

footer .p-text {
    color: #bdc3c7 !important;
}

footer h3 {
    color: #7f8c8d !important;
    font-size: 1.2em;
}